@import url(../css/main.css);



/*  
    ------------- 
       GENERAL
    ------------- 
*/

.us__box{
    margin: 12vh 6vw 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us__title-box, .member__title, .member__box{
    animation: showUp 600ms backwards;
}



/*  
    ------------- 
    TITLE & ABSTRACT
    ------------- 
*/

.us_title-box{
    margin: 0 auto;
}

.us__main-title{
    font-size: 6rem;
    text-align: center;
    text-shadow: .4rem .4rem var(--pink-normal);
}

.us__text{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 5vh;
    justify-content: space-around;
}

.us__p{
    margin: 1vh 2vw;
    font-size: 1.6rem;
    text-align: justify;
    word-spacing: -.1rem;
    max-width: 500px;
    min-width: 300px;
}



/*  
    ------------- 
       MEMBERS
    ------------- 
*/

.member__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 850px;

}

.member__title{
    font-size: 5rem;
}

.member__box{
    display: flex;
    margin: 3rem 1vw;
    border-radius: 100%;
    cursor: pointer;
}

.member__img{
    box-shadow: .8rem .8rem var(--pink-normal);
    transition: 300ms;
    transition-property: box-shadow, transform;
    border-radius: 100%;
    width: 24rem;
    height: auto;
}

.member__box:hover > .member__img{
    box-shadow: 1.4rem 1.4rem var(--pink-normal);
    transform: translate(-.4rem,-.4rem);
    transition: 100ms;
    transition-property: box-shadow, transform;
}

.cami__box{animation-delay: 400ms;}
.javier__box{animation-delay: 800ms;}
.nacho__box{animation-delay: 1.2s;}
.gary__box{animation-delay: 1.6s;}
.martin__box{animation-delay: 2s;}

/*  
    ------------- 
     MEMBER CARD
    ------------- 
*/

.detail__cami-box,
.detail__javier-box,
.detail__nacho-box,
.detail__gary-box,
.detail__martin-box{
    visibility: hidden;
}


@keyframes popup {
    0% {transform: scale(.5);}
    100% {transform: scale(1);}
}

.detail__container{
    display: none;
    position: fixed;
    width: 100%;
    padding-bottom: 100vh;
    z-index: 11;
}

.detail__card{
    display: grid;
    grid-template-areas: 'card';
    position: relative;
    margin:10vh auto;
    width: 90%;
    max-width: 800px;
    padding-bottom: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 50px var(--blue-dark);
    animation: popup 200ms;
    background: var(--blue-normal-opa);
}


.detail__member-box{
    grid-area: card;
    display: flex;
    align-items: center;
    margin: 2rem 3rem 0;
}

.detail__info{
    display: flex;
    flex-direction: column;
}

.detail__img{
    display: none;
}

.detail__name{
    text-shadow: .4rem .4rem var(--pink-normal);
    margin: 0;
    font-size: 3rem;
}

.detail__text{
    font-size: 1.3rem;
    text-align: justify;
}


/*  ------- RRSS ------- */

.detail__rrss {
    max-width: 17rem;
}

.detail__rrss-link {
    display: flex;
    align-items: center;
}

.detail__ig{
    height: 2.5rem;
    width: 2.5rem;
}


@keyframes move {
    0%,
    25% {      
        transform: translateX(-102%);
        left: 100%;
    }
    75%,
    100% {
        transform: translateX(2%);
        left: 0%;
    }
}

.detail__ig-animation {
    padding-right: 1rem;
    overflow: hidden;
}

.detail__ig-animation span {
    font-size: 1.6rem;
    display: inline-block;
    animation: move 2s forwards;
}


/*  ------- CLOSE BUTTON ------- */

.detail__close-btn {
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: -1.5rem;
    right: -1.5rem;
    border: 2px 2px solid white;
}

.detail__close-btn::after,
.detail__close-btn::before {
    position: absolute;
    content: '';
    background: white;
    border-radius: 2px;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: auto; 
    height: 5px;
    width: 3rem;
}

.detail__close-btn::after {
    transform: rotate(45deg);
}

.detail__close-btn::before {
    transform: rotate(-45deg);
}




/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

@media screen and (max-width: 991px) {
        /* start of large tablet styles */
}
    
@media screen and (min-width: 767px) {
    .detail__img{
        display: inherit;
        height: 30rem;
        width: 30rem;
        margin: 1em;
        border-radius: 100%;
    }
    
    .member__img{
        width: 18rem;
        height: auto;
    }
}
