@import url(../css/main.css);



 /* GENERAL */

#us_box{
    margin: 5vh 10vw;
}
#us_title, .member_box{
    animation: showUp .8s;
    animation-fill-mode: backwards;
}

    /* TITULO Y  ABSTRACT */

#us_main_title{
    font-size: 2.5vw;
    text-align: center;
    text-shadow: 2px 4px var(--hardpink);
}
#us_title{
    width: 60vw;
    margin: 0 auto;
}
#us_text{
    font-size: .9vw;
    margin: 7vh 0;
    text-align: justify;
}

    /* CAJITAS */

#member_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.member_box{
    margin: 30px 20px;
    display: grid;
    position: relative;
    justify-self: center;
    border-radius: 100%;
    box-shadow: 5px 5px var(--hardpink);
    transition: 0.5s;
}
.member_img{
    cursor: pointer;
    border-radius: 100%;
    width: 250px;
    max-width: 100%;
    height: auto;
}
.member_box:hover{
    box-shadow: 10px 10px var(--hardpink);
    transform: translate(-3px,-3px);
    transition: 0.5;
}
#name_hover{
    cursor: pointer;
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    font-size: 1.5vw;
    text-shadow: 3px 3px var(--hardpink);
}

#cami_box{animation-delay: .5s;}
#javier_box{animation-delay:1s;}
#nacho_box{animation-delay: 1.5s;}
#gary_box{animation-delay: 2s;}
#martin_box{animation-delay: 2.5s;}


    /* POPUP CAJITA */

@keyframes popup {
    0% {transform: scale(.8);}
    100% {transform: scale(1);}
}
@keyframes backblur {
    0%{backdrop-filter: blur(2px);}
    100%{backdrop-filter: blur(6px);}
}
#detail_us_container{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);
    animation: backblur .1s ease forwards;
}
#detail_us_box{
    position: relative;
    background-color: #0d2a66ee;
    margin: 12vw auto;
    height: 30vw;
    width: 60vw;
    border-radius: 1vw;
    box-shadow: 0 0 40px #000;
    animation: popup .2s;
}
.detail_member_box{
    position: absolute;
    display: flex;
    padding: 2vw;
    height: 85%;
}
#detail_member_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
}
#detail_member_img{
    margin-right: 2vw;
    height: 18vw;
    width: 18vw;
    align-self: center;
    border-radius: 100%;
    border: 1px solid white;
}
#member_name{
    font-size: 2vw;
    text-shadow: 2px 4px var(--hardpink);
}
#member_text{
    text-align: justify;
    font-size: .9vw;
}

#rrss_member{
    margin: 2vw 0 0 8vw;
    justify-self: center;
}
#ig_icon{
    position: absolute;
    height: 3vw;
    width: 3vw;
}

#detail_cami_box,
#detail_javier_box,
#detail_nacho_box,
#detail_gary_box,
#detail_martin_box{
    visibility: hidden;
}


    /* ANIMACION IG */

@keyframes move {
    0%,
    25% {      
        transform: translateX(-102%);
        left: 100%;
    }
    75%,
    100% {
        transform: translateX(2%);
        left: 0%;
    }
}

#ig_animated {
    overflow: hidden;
    margin-left: 3vw;
    height: 3vw;
}

#ig_animated span {
    cursor: default;
    font-size: 1.3vw;
    margin-top: .7vw;
    display: inline-block;
    animation: move 2s forwards;
}




    /* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
        /* start of medium tablet styles */
    }
    
@media screen and (max-width: 479px) {
    /* start of phone styles */
    }

    
