@import url(./css/main.css);


/*  ------- SOON TEXT ------- */
h3 {
    font-size: 1.5rem;
    font-family: var(--ff-text-light);
}


/*  ------- SHADOWS ------- */

.simply-section, .instagram-gallery-medium, .fb__box{
    box-shadow: .8rem .8rem var(--pink-normal);
    transition: 300ms;
    transition-property: box-shadow, transform;
}

/*  ------- ANIMATIONS ------- */

.main__container,
.main__title, 
#countdown, 
.side__box,  
.instagram-gallery-medium, 
.fb__box{
    animation: showUp 600ms backwards;
}

.main_title{animation-delay: 400ms;}
#countdown{animation-delay: 400ms;}
.instagram-gallery-medium{animation-delay: 1s;}
.fb__box{animation-delay: 1.6s;}
.side__box{animation-delay: 2.2s;}
     



/*  
    ------------- 
       GENERAL
    ------------- 
*/

.main__container {
    margin: 12rem auto 6rem;

}

/*  
    ------------- 
        TITLE 
    ------------- 
*/

.main__header {
    margin: 0 auto;
    max-width: 700px;
}

.main__title {
    font-size: 6rem;
    text-align: center;
    text-shadow: .4rem .4rem var(--pink-normal);
    margin: 2rem 1.5rem;
}

/*  
    ------------- 
       BOXES
    ------------- 
*/

/*  ------- GENERAL ------- */


.box__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side__box {
    border: 2px dashed white;
    width: 28rem;
    height: 28rem;
    margin: 1rem;

    /* BORRAR */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__box {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blog__box {
    order: 2;
    margin: 1rem 1rem 3rem;
}

.ilus__box {
    order: 3;
    margin: 3rem 1rem 1rem;
}

/*  ------- CENTER BOX ------- */

.rrss__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0;
}

.ig__box {
    width: 28rem;
    height: 28rem;
    margin: 1rem 1rem 3rem;
}

.fb__box {
    width: 28rem;
    height: 28rem;
    margin: 3rem 1rem 1rem;
}

/*  ------- COUNTDOWN ------- */

#countdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.simply-section{
    background: white;
    color: var(--blue-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    margin: 1rem;
}

.simply-amount{
    display: block;
    font-family: var(--ff-text-bold);
    text-align: center;
    font-size: 4rem;
}

.simply-word{
    font-size: 2rem;
}


/*  ------- INSTAGRAM FEED ------- */

.instagram-gallery-medium {
    display: flex;
}

.instagram-gallery-medium > a {
    width: 28rem;
    height: 28rem;
    overflow: hidden;

}

.instagram-gallery-medium > a > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ig_img{
    background-image: url(./assets/instagram.svg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12rem 12rem;
    transition: opacity .2s, visibility .2s;
    margin-left: -28rem;
}



/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

/*  ------- TABLETS ------- */

@media screen and (min-width: 600px) {
    .ig_img{
        background-image: url(./assets/instagram.svg); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12rem 12rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
        margin-left: -28rem;
    }
    #ig_feed:hover .ig_img {
        visibility: visible;
        opacity: 1;
    }

    .ig__box {
        margin: 1rem;
    }

    .fb__box {
        margin: 1rem;
    }

    .blog__box {
        margin: 1rem;
    }

    .ilus__box {
        margin: 1rem;
    }
}


/*  ------- DESKTOP ------- */

@media screen and (min-width: 1366px) {


    .main__container {
        margin: 5% auto 5%;
    }

    /*  ------- GENERAL ------- */


    .box__container {
        flex-wrap: nowrap;
        max-width: 1200px;
    }

    .side__box {
        width: 50rem;
        height: 45rem;
    }

    .center__box {
        order: 2;
    }

    .blog__box {
        order: 1;
    }

    .ilus__box {
        order: 3;
    }

    /*  ------- CENTER BOX ------- */

    .rrss__box {
        margin: 2vh 0 0;
    }

    
    /*  ------- GENERAL HOVER ------- */
    
    .simply-section:hover, .instagram-gallery-medium:hover, .fb__box:hover{
        box-shadow: 1.4rem 1.4rem var(--pink-normal);
        transform: translate(-.4rem,-.4rem);
        transition: 100ms;
        transition-property: box-shadow, transform;
    }



}