@import url(./css/main.css);


    /* GENERAL */
h3{font-size: 1vw;}

#main_content{
    margin: 3.5vw 12vw;
}

    /* TITULO */

#main_text{
    font-family: 'Cabin Sketch', cursive;
    text-shadow: .2vw .2vw var(--hardpink);
    font-size: 3vw;
    text-align: center;
    width: 36vw;
    margin: 2vh auto;
}

    /* CAJA PRINCIPAL */

#main_box{
    display: grid;
    grid-template-columns: 280px 1fr 280px;
}

    /* CAJAS LATERALES */

#ilus_box, #blog_box{
    /* background: white; */
    /* box-shadow: 7px 7px var(--hardpink); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed white ;
    transition: 0.3s;
}

/* #ilus_box:hover, #blog_box:hover{
    box-shadow: 10px 10px var(--hardpink);
    transition: 0.3s;
} */


/* -------- CAJA CENTRAL -------- */

#center_box{
    width: 700px;
    justify-self: center;
    margin: 0 2vw;
}

#rrss_box{
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}


/* -------- CAJA RRSS -------- */

#ig_box, .fb-page{
    background: white;
    color: var(--softblue);
    transition: 0.3s;
    width: 333px;
    height: 333px;
}



#ig_box:hover, .fb-page:hover{
    box-shadow: .8vw .8vw var(--hardpink);
    transition: 0.3s;
    transform: translate(-.2vw,-.2vw);
}

/* .fb_iframe_widget iframe {
    visibility: hidden;
} */




/* --- CUENTA REGRESIVA --- */
#countdown{
    display: flex;
    justify-self: center;
    justify-content: space-between;
}
.simply-section{
    background: white;
    color: var(--darkblue2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.simply-amount{
    display: block;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 700;
}
.simply-word{
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 1vw;
}



/* --- INSTAGRAM FEED --- */

.instagram-gallery-medium {
    width: 333px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.instagram-gallery-medium > a {
    width: 332px;
    height: 332px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
}

.instagram-gallery-medium > a > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#ig_img{
    position: absolute;
    visibility: hidden;
    background-image: url(./assets/instagram.svg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6vw 6vw;
    backdrop-filter: blur(3px) grayscale(50%);
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    z-index: 1;
}
#ig_feed:hover #ig_img {
    visibility: visible;
    opacity: 1;
}



@media screen and (max-width: 1366px){
    #main_content{
        margin: 3.5vw 12vw;
    }
    #main_box{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
    }
    #center_box{
        width: 500px;
        justify-self: center;
    }
    #ig_box, .fb-page{
        width: 233px;
        height: 233px;
    }
    .simply-section{
        width: 100px;
        height: 100px;
    }
    .instagram-gallery-medium {
        width: 233px;
    }
    .instagram-gallery-medium > a {
        width: 232px;
        height: 232px;
    }
}


